body{
	padding: 0;
	margin: 0;
	width: 100%;
}

.bg-blue	{ background-color: #5175a5; }
.bg-purple	{ background-color: #8d3fb9; }
.bg-green	{ background-color: #36957b; }

.box{
	display: inline-block;
	width: 225px;
	min-height: 225px;
	text-align: center;
	color: #fff;
	margin: 10px;
}

.box h2{
	padding-top: 100px; 
	font-weight: 300;
}

h1, h2{
	margin: 0;
	font-family: sans-serif;
	padding: 10px;
}

nav{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #eee;
}

h1{
	color: #444;
	font-weight: 300;
	font-size: 1.25em;
}

a{
	text-decoration: none;
	color: #333;
}

.cont{
	width: 80%;
	margin: 0 auto;
}